.wrapper-user-list {
  display: flex;
  flex-direction: row;
  //   padding-left: 20px;
  width: 100%;
  height: inherit;
  overflow: hidden;

  .friend-list {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: inherit;
    overflow: scroll;
    border-right: 2px solid #ebebeb;
    padding: 20px;
    .user-list-item {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .user-profile-section {
    width: 100%;
  }
}
