.wrapper-user-cards {
  display: flex;
  flex-direction: row;
  //   border: 2px solid #e1e1e1;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 10px #f2f2f2;

  padding-right: 20px;
  .user-thumbnail {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #f2f2f2;
  }
  .user-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
  }
  .wrapper-loader {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}
