.wrapper-user-profile {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  width: 100%;
  justify-content: center;

  .profile {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    .profile-top-section {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .user-image {
        width: 128px;
        height: 128px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid #f2f2f2;
      }
    }

    .comments-section {
      height: 100%;
      display: flex;

      justify-content: center;
      align-items: center;
    }
  }
}

.user-details {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
